target/
dist/
wayle-design

wayle-shell.ftl
# Temporary sandboxes
Wayle
sandbox/
.direnv/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
